$primary: '#000'
$white: '#fff'

.columns
  align-items: center
  display: flex
  justify-content: space-between

header
  border-bottom: 1px solid grey
  padding-bottom: 2rem

  nav
    align-items: center
    display: flex

    a
      border-bottom: 1px solid transparent
      color: grey
      display: block
      font-weight: 500
      padding-bottom: .1rem
      margin-right: 1rem
      text-transform: uppercase

      &.is-active
        border-color: purple
        color: purple
        font-weight: 700

    span
      display: block
      margin-right: 1rem
